.dock {
    background: linear-gradient(rgba(0, 0, 0, 0.256));
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    padding: 0.6rem 1rem;
    border-radius: 0.75rem;
    gap: 0.75rem;

    backdrop-filter: blur(5px);

    .icon {
        padding: 0.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.25rem;

        aspect-ratio: 1/1;

        * {
            width: 1.5em;
            height: 1.5em;
            flex-shrink: 1;
        }

        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .icon:hover{
        transform: scale(1.3) translateY(-25%);

    }

    .icon:hover + .icon, .icon:has(+ .icon:hover){
        transform: scale(1.2) translateY(-15%);
    }

    .icon:hover + .icon +.icon, .icon:has(+ .icon + .icon:hover){
        transform: scale(1.1) translateY(-10%);
    }

    .github,
    .cli {
        background-color: black;
    }

    .note {
        background: linear-gradient(to bottom, rgb(255, 179, 87), rgb(255, 153, 28));
    }

    .pdf {
        background: linear-gradient(to bottom, rgb(255, 61, 77), rgb(255, 25, 44));
    }

    .spotify {
        background: linear-gradient(to bottom, rgb(54, 214, 110), rgb(29, 185, 84));
    }

    .mail,
    .calender {
        background: linear-gradient(to bottom, rgb(84, 167, 245), rgb(23, 135, 240));
    }

    .link {
        background: linear-gradient(to bottom, rgb(255, 52, 255), rgb(205, 0, 205));
    }
}