nav {
    color: white;
    padding-inline: 0.65rem;
    padding-block: 0.3rem;
    background: linear-gradient(rgba(0, 0, 0, 0.256));
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: space-between;

    font-size: 0.75rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .left {
        display: flex;
        gap: 0.65rem;
        align-items: center;

        * {
            height: 1em;
            flex-shrink: 1;
        }

    }

    .right{
        display: flex;
        gap: 0.65rem;
        align-items: center;

        * {
            height: 1em;
            flex-shrink: 1;
        }
    }

}