* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;

    background-image: url(/daniel-leone-v7daTKlZzaw-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}