.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 10rem;

    .card {

        flex-grow: 1;
        flex-basis: 20rem;
        padding: 1rem;
        max-width: 22rem;

        background-color: #2e2e2e;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        img {
            width: 100%;
            height: 10rem;
        }

        h1 {
            font-size: 1.5rem;
        }

        .desc {
            opacity: 0.7;
            word-spacing: 0.4;
            line-height: 1.3;
        }

        .tags {
            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;

            .tag {
                background-color: #5499ff;
                width: fit-content;
                padding: 0.5rem 0.6rem;
                border-radius: 0.75rem;

                white-space: nowrap;
            }
        }

        .urls {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                text-decoration: none;
            }
        }
    }
}