.window {
    background-color: rgb(17, 17, 17);
    border-radius: 0.75rem;
    height: 100%;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: white;

    .nav {
        display: flex;
        gap: 1rem;
        align-items: center;
        border-bottom: 1px solid whitesmoke;

        .dots {
            padding-inline: 0.4rem;
            padding-block: 0.4rem;
            display: flex;
            gap: 0.25rem;

            .dot {
                height: 13px;
                width: 13px;
                background-color: white;
                border-radius: 50%;
            }

            .red {
                background-color: red;
            }

            .yellow {
                background-color: yellow;
            }

            .green {
                background-color: green;
            }
        }
    }

    .main-content {
        height: calc(100% - 40px);
        /* adjust based on nav height */
        overflow-y: auto;
        padding: 1rem;
    }
    .main-content::-webkit-scrollbar{
        display: none;
    }
}

