.window {
    height: 500px;
    width: 700px;
    background-color: rgb(36, 36, 36);
    border-radius: 0.75rem;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: white;

    .nav {
        display: flex;
        gap: 1rem;
        align-items: center;
        border-bottom: 1px solid whitesmoke;
        .dots {
            padding-inline: 0.4rem;
            padding-block: 0.4rem;
            display: flex;
            gap: 0.25rem;

            .dot {
                height: 13px;
                width: 13px;
                background-color: white;
                border-radius: 50%;
            }

            .red {
                background-color: red;
            }

            .yellow {
                background-color: yellow;
            }

            .green {
                background-color: green;
            }
        }
    }
}